---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Aparment from "../components/Aparment.astro";
import Arrow from "../Icons/Arrow.astro";
import Testimonies from "../components/Testimonies.astro";
import "aos/dist/aos.css";
import Light from "../Icons/Light.astro";
import Award from "../Icons/Award.astro";
import Up from "../Icons/Up.astro";
import Employee from "../Icons/Employee.astro";
import Transaction from "../Icons/Transaction.astro";
import Verified from "../Icons/Verified.astro";
import Process from "../Icons/Process.astro";
---

<Layout title="Constructora Nacional - Inicio">
  <Header />
  <main class="flex flex-col">
    <hero class="relative">
      <img
        src="/houses/house15.webp"
        alt=""
        class="aspect-auto object-cover h-screen w-screen"
      />
      <div class="h-screen w-screen bg-black absolute top-0 bg-opacity-40">
      </div>
      <div
        class="absolute z-50 top-[calc(50%-150px)] px-8 text-white flex flex-col gap-4"
      >
        <h1 class="text-5xl font-bold uppercase hero" data-aos="fade-up">
          Encuentra la Propiedad de tus Sueños con nosotros
        </h1>
        <p class="text-lg font-medium" data-aos="fade-up">
          Compra, vende o alquila con nosotros de manera fácil y segura. Tu
          hogar ideal te espera.
        </p>
        <div class="gap-3 flex flex-wrap" data-aos="zoom-in" data-aos="zoom-in">
          <button
            class="border-transparent border-2 px-6 py-2 font-medium rounded-full text-lg text-white bg-emerald-600 active:scale-95 transition-all hover:backdrop-blur hover:text-white hover:border-emerald-600 hover:bg-transparent"
            >Ver Propiedades</button
          >
          <button
            class="border-transparent border-2 px-6 py-2 font-medium rounded-full text-lg text-white bg-emerald-600 active:scale-95 transition-all hover:backdrop-blur hover:text-white hover:border-emerald-600 hover:bg-transparent"
            >Solicita Asesoria</button
          >
        </div>
      </div>
    </hero>
    <section class="py-10 border-b bg-slate-100">
      <div class="p-4 flex flex-col gap-4 items-center" data-aos="fade-up">
        <h1 class="text-xl text-center font-semibold">
          Tu Confianza, Nuestra Prioridad.
        </h1>
        <p class="text-sm p-5">
          En OsoConstructora, somos más que una agencia de bienes raíces, somos
          tu aliado en la búsqueda de propiedades. Ya sea que busques comprar,
          vender o alquilar, tenemos la experiencia, el conocimiento y las
          herramientas para hacer que tu experiencia sea simple y exitosa. Con
          años de experiencia en el mercado, entendemos lo que buscas y estamos
          aquí para ayudarte a encontrar la mejor opción para ti.
        </p>
        <button
          class="border px-4 py-2 bg-emerald-600 text-white font-medium rounded-full flex gap-4 items-center active:scale-90 transition-all hover:gap-10"
        >
          Encuentra Tu Propiedad Hoy
          <Arrow sizes="20" />
        </button>
      </div>
    </section>
    <section class="p-10 flex items-center flex-col gap-4 border-b">
      <div class="flex flex-col gap-8" data-aos="zoom-out">
        <div class="flex flex-col gap-1">
          <h1 class="w-full text-xl font-medium flex items-center gap-2">
            <Light sizes="20" /> ¿Por Qué Elegirnos?
          </h1>
          <h2 class="text-lg">
            Lo que nos diferencia en el mercado inmobiliario.
          </h2>
          <p class="text-sm" data-aos="zoom-out">
            Nos enorgullece ofrecer un servicio excepcional que va más allá de
            la simple compra o venta de propiedades. Trabajamos contigo en cada
            paso del proceso para asegurarnos de que encuentres la opción
            perfecta según tus necesidades.
          </p>
        </div>
        <div class="flex flex-col gap-2">
          <h1
            class="text-start w-full text-xl font-medium flex items-center gap-2 justify-between"
            data-aos="zoom-out-up"
          >
            Beneficios destacados <span
              class="p-2 border text-white rounded-full bg-emerald-600"
            >
              <svg width="23" height="23" viewBox="0 0 24 24"
                ><path
                  fill="currentColor"
                  d="M19 6.41L17.59 5L7 15.59V9H5v10h10v-2H8.41z"></path></svg
              >
            </span>
          </h1>
          <div class="border-y py-3 shadow-sm" data-aos="fade-left">
            <h2 class="text-lg text-emerald-600 flex items-center gap-2">
              <Up sizes="20" /> Variedad de Propiedades
            </h2>
            <p>
              Desde apartamentos modernos hasta casas familiares, tenemos
              opciones para todos.
            </p>
          </div>
          <div class="border-y py-3 shadow-sm" data-aos="fade-right">
            <h2 class="text-lg text-emerald-600 flex items-center gap-2">
              <Employee sizes="20" />
              Asesoría Personalizada
            </h2>
            <p>
              Te ayudamos a tomar decisiones informadas con un servicio 100%
              personalizado.
            </p>
          </div>
          <div class="border-y py-3 shadow-sm" data-aos="fade-left">
            <h2 class="text-lg text-emerald-600 flex items-center gap-2">
              <Transaction sizes="20" /> Transacciones Seguras
            </h2>
            <p>Garantizamos procesos legales transparentes y seguros.</p>
          </div>
          <div class="border-y py-3 shadow-sm" data-aos="fade-right">
            <h2 class="text-lg text-emerald-600 flex items-center gap-2">
              <Award sizes="20" /> Precios Competitivos
            </h2>
            <p>
              Accede a propiedades de calidad a precios competitivos en el
              mercado.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="p-10 bg-slate-100 flex flex-col gap-4">
      <div class="flex flex-col gap-3">
        <h1 class="text-xl font-medium flex items-center gap-4">
          Nuestras Propiedades Más Populares <span class="text-emerald-600"
            ><Verified sizes="28" /></span
          >
        </h1>
        <h2 class="text-slate-700 font-medium">
          Explora algunas de las mejores opciones que tenemos para ti.
        </h2>
      </div>
      <p class="text-sm">
        Desde apartamentos en el centro de la ciudad hasta casas en barrios
        tranquilos, tenemos una amplia variedad de propiedades para satisfacer
        todas tus necesidades.
      </p>
      <div
        class="flex gap-4 overflow-x-scroll scroll-smooth scrollAparment py-6 border"
      >
        <Aparment />
        <Aparment />
        <Aparment />
        <Aparment />
      </div>
      <button class="border px-4 py-2 rounded-full bg-emerald-600 text-white">
        Ver Todas las Propiedades
      </button>
    </section>
    <section class="p-10 flex flex-col gap-5 border-b">
      <div class="flex flex-col gap-1">
        <h1 data-aos="zoom-out-up" class="font-semibold text-xl">
          Testimonios de Nuestros Clientes
        </h1>
        <h2 data-aos="zoom-out-up" class="text-gray-600">
          Escucha lo que dicen nuestros clientes sobre su experiencia con
          nosotros.
        </h2>
      </div>
      <div class="flex flex-col gap-4">
        <Testimonies />
        <Testimonies />
        <Testimonies />
      </div>
    </section>
    <section class="p-10 bg-slate-100 flex flex-col gap-4">
      <div class="flex flex-col gap-1">
        <h1 class="text-xl font-semibold">Así Es Como Trabajamos</h1>
        <p class="text-sm">
          Nuestro proceso es fácil y directo, para que no pierdas tiempo ni
          energía. A continuación, te explicamos cómo podemos ayudarte a
          encontrar la propiedad ideal o vender la que ya tienes.
        </p>
      </div>

      <div class="flex flex-col gap-4">
        <div
          class="flex flex-col gap-1 border-y py-4 bg-emerald-600 text-white px-4 rounded-lg"
        >
          <h1 class="flex items-center gap-2 text-lg font-medium">
            <Process sizes="20" /> Consulta Inicial
          </h1>
          <p>
            Nos reunimos contigo para conocer tus necesidades y presupuesto.
          </p>
        </div>
        <div
          class="flex flex-col gap-1 border-y py-4 bg-white p-4 shadow shadow-white rounded-lg"
        >
          <h1
            class="flex items-center gap-2 text-lg font-medium text-emerald-600"
          >
            <Process sizes="20" />Selección de Propiedades
          </h1>
          <p>
            Te mostramos las mejores opciones disponibles según tus
            preferencias.
          </p>
        </div>
        <div
          class="flex flex-col gap-1 border-y py-4 bg-emerald-600 text-white p-4 shadow shadow-white rounded-lg"
        >
          <h1 class="flex items-center gap-2 text-lg font-medium">
            <Process sizes="20" />Cierre y Trámites
          </h1>
          <p>Te acompañamos durante el proceso de compra, venta o alquiler.</p>
        </div>
        <div
          class="flex flex-col gap-1 border-y py-4 bg-white p-4 shadow shadow-white rounded-lg"
        >
          <h1
            class="flex items-center gap-2 text-lg font-medium text-emerald-600"
          >
            <Process sizes="20" />Visita y Decisión
          </h1>
          <p>
            Te ayudamos a agendar visitas a las propiedades que te interesan.
          </p>
        </div>
      </div>
    </section>
    <section class="p-10 flex flex-col gap-2 border-b">
      <h1 class="text-xl font-semibold">No trabajes con nosotros si...</h1>
      <h2>
        Si buscas un proceso rápido y sin asesoramiento profesional, no somos la
        opción adecuada para ti.
      </h2>
      <h3>
        Nuestro enfoque está en ofrecerte una experiencia segura, personalizada
        y bien gestionada.
      </h3>
      <p>
        Si te importa tomar decisiones bien informadas y estás dispuesto a
        invertir en encontrar la mejor opción, ¡estamos aquí para ayudarte!
      </p>
    </section>
    <section class="p-10 bg-slate-100">
      <h1>Tu Propiedad Ideal Está a Solo un Paso</h1>
      <h2>
        C class="text-lg font-medium"ontáctanos hoy mismo y haz que tu sueño
        inmobiliario se haga realidad.
      </h2>
      <p>
        "Estamos aquí para ayudarte a encontrar la propiedad perfecta. Ya sea
        que estés comprando, vendiendo o alquilando, nuestro equipo está listo
        para brindarte la mejor asesoría."
      </p>
      <button
        class="border px-4 py-2 bg-emerald-600 rounded text-white font-medium hover:bg-white hover:text-emerald-600 hover:border-emerald-600 transition-all"
      >
        Solicita tu Consulta Gratuita
      </button>
    </section>
    <Footer />
  </main>

  <style>
    .scrollAparment {
      scroll-snap-type: x mandatory;
    }
  </style>

  <script>
    import AOS from "aos";
    AOS.init({
      once: false,
      offset: 200,
    });
  </script>
</Layout>
