---
const { title, description } = Astro.props;
---

<div class="border-b py-3 shadow-sm" data-aos="fade-left">
  <h2 class="text-lg text-emerald-500">Variedad de Propiedades</h2>
  <p class="text-sm">
    Desde apartamentos modernos hasta casas familiares, tenemos opciones para
    todos.
  </p>
</div>
