<header class="absolute z-50 w-screen h-10 px-4 py-8">
  <nav class="flex items-center justify-between">
    <button class="text-white active:scale-90 transition-all">
      <svg width="35" height="35" viewBox="0 0 24 24">
        <path fill="currentColor" d="M3 18v-2h18v2zm0-5v-2h18v2zm0-5V6h18v2z"
        ></path>
      </svg>
    </button>

    <div class="flex items-center gap-4 text-white">
      <a href="">Inicio</a>
      <a href="">Propiedades</a>
      <a href="">Contacto</a>
    </div>
  </nav>

  <nav
    class="items-center justify-between w-full text-white font-medium text hidden"
  >
    <div class="flex items-center gap-4">
      <a href="">Home</a>
      <a href="">Properties</a>
      <a href="">Contact</a>
      <div>Search</div>
    </div>
    <div>Logo</div>
    <div class="flex items-center gap-4">
      <a href="">Join With Us</a>
      <a href="">Contact</a>
      <a href="">About Us</a>
      <a href="">Login</a>
    </div>
  </nav>
</header>
